<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/bulma-carousel.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="js/bulma-carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <title>GrantMan</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
  </head>

  <body class="container" style="margin-bottom:50px;">
    <% include nav %><hr>
    <div class="container" style="padding:20px; max-width:600px; margin:auto;">
    <form method="POST">
      <div class="field">
        <label class="label">Staff ID</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="id" placeholder="Text input" required>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Staff Position</label>
        <div class="control">
          <div class="select">
            <select name="type">
              <option>Researcher</option>
              <option>RIS</option>
              <option>Dean</option>
              <option>Associate Dean</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">School</label>
        <div class="control">
          <div class="select">
            <select name="school" required>
              <option>Science and Engineering</option>
              <option>Art & Design</option>
            </select>
          </div>
        </div>
      </div>


      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input name="name" class="input" type="text" placeholder="Text input" required>
        </div>
      </div>



      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" placeholder="Email input" required>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>


      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" name="password" id="password" placeholder="Password input" required>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" id="confirm" placeholder="Password input" required>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit" id="submit" disabled>Submit</button>
        </div>
      </div>
    </form>
    <% include footer %>

    <script>
      function checkPasswords(){
        console.log($('#password')[0].value)
        console.log($('#confirm')[0].value)
        if($('#password')[0].value==$('#confirm')[0].value && $('#password')[0].value.length != 0){
          document.getElementById("submit").disabled = false;
        } else {
          document.getElementById("submit").disabled = true;        }
      }

      $('#password').keyup(function(){ return checkPasswords() });
      $('#confirm').keyup(function(){ return checkPasswords() });

    </script>
  </body>
