<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/bulma-carousel.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="js/bulma-carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <title>GrantMan</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
  </head>

  <body style="margin-bottom:100px;">
    <% include nav %><hr>
      <div id="help-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Help</p>
          <button onclick="closemodal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
         <b>Creating an Account</b> <br>
         To create an account, simply enter the relevant details into the fields. All fields are required so please ensure you have entered details in
         all of the fields provided. <br>
         When data has been entered in all of the fields, simply click 'Submit' and the account will be created. <br>
        </section>
      </div>
    </div>

    <form action="" method="post">
      
      <div class="container form-wrapper" style="max-width: 600px;">
      
      <div class="form-group form-group-template" style="border-bottom: 1px solid #363636; padding: 15px 0; margin: 10px 0;">

        <div class="field has-addons">
          <p class="control">
            <a class="button plus">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
              <span>Add</span>
            </a>
          </p>
          <p class="control">
            <a class="button minus" disabled>
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
              <span>Remove</span>
            </a>
          </p>
        </div>
        
        <div class="field">
          <label for="email" class="label">Email</label>
          <input type="email" name="email" class="input" required />
        </div>

        <div class="field">
          <label for="type" class="label">User Type</label>
          <div class="control">
            <div class="select">
              <select name="type" required>
                <option value="researcher">Researcher</option>
                <option value="ris">RIS</option>
                <option value="adean">Associate Dean</option>
                <option value="dean">Dean</option>
              </select>
            </div>
          </div>
        </div>

          <div class="field">
            <label for="school" class="label">School</label>
            <div class="control">
              <div class="select">
                <select name="school" required>
                  <option>School of Science and Engineering</option>
                  <option>School of Art and Design</option>
                  <option>School of Social Sciences</option>
                  <option>School of Life Sciences</option>
                  <option>School of Humanities</option>
                  <option>School of Business</option>
                </select>
              </div>
            </div>
          </div>

      </div>
      
      
    <input type="submit" class="button is-primary" value="Create Accounts" />
    </div>


    </form>

    <% include footer %>

     <script>
      var rows = 1;
      var templateMaster = $('.form-group-template');
      $('.plus').on('click', function(){
        // Select one of the rows and make a clone of it
        // Why .clone(true, true) ?
        // @see: https://stackoverflow.com/a/9549716
        // TL;DR This forces jQuery to copy the events attached to the elements (ie this function)
        var template = templateMaster.clone(true, true);
        template.removeClass('product-template');
        console.log(templateMaster);
        console.log(template);
        // Remove the template class to not interfer in the future
        // Remove values inside the input box of the clone
        template.find('input[type=text]').val('');
        template.find('.card-title').text('Enter a Product ID');
        template.find('.card-text').text('');
        template.find('.card').removeClass('bg-warning');
        // Add the row to the start of the form
        $('.form-wrapper').prepend(template);
        // If the minus button has been disabled, enable it
        $('.minus').removeClass('disabled');
        $('.minus').attr('disabled', false);
        rows++;
        console.log(rows);
      });
      $('.minus').on('click', function(){
        // Find the whole row
        var template = $(this).parents('.form-group');
        // If this isn't the last row, remove it
        if(rows != 1){
          template.remove();
          rows--;
        console.log(rows);
          // If one row remains, disable the minus button
          if(rows == 1){
            $('.minus').addClass('disabled');
            $('.minus').attr('disabled', true);
          }
        }
      });
    </script>
  </body>
