<footer id="footer" class="footer" style="padding:20px;">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Grant Man</strong> by Team 2. <a href="https://github.com/gavinhenderson/ac31007-team2">Opensource</a>
      </p>
    </div>
  </div>
  <style>
    #footer {
      position:fixed;
      left:0px;
      bottom:0px;
      height:auto;
      width:100%;
    }
  </style>
</footer>
