<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="bulma-carousel.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="bulma-carousel.js"></script>
    <title>GrantMan</title>
  </head>

  <div class="container">
  <header>
    <% include nav %>
  </header>

  <body>
    <div class="columns">
      <!-- Image carousel -->
      <div class="column is-three-quarters">
        <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
          <div class='carousel-container'  style="height:600px;">
            <div class='carousel-item has-background is-active'>
              <img class="is-background" src="img/crosswalk.jpg" alt="" width="640" height="310" style="border-radius:10px;"/>
            </div>
            <div class='carousel-item has-background'>
              <img class="is-background" src="img/thelaw.jpg" alt="" width="640" height="100" style="border-radius:10px;"/>
            </div>
            <div class='carousel-item has-background'>
              <img class="is-background" src="img/topdown.jpg" alt="" width="640" height="310" style="border-radius:10px;"/>
            </div>
            <div class='carousel-item has-background'>
              <img class="is-background" src="img/top200.jpg" alt="" width="640" height="310" style="border-radius:10px;"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Register Box -->
      <div class="column">
        <div class="card">
          <!-- card header -->
          <header class="card-header">
            <p class="card-header-title">
              Create a New Account
            </p>
          </header>


          <!-- Card content -->
          <div class="card-content">

            <!-- Email -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" placeholder="Enter your email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <!-- password -->
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input" type="password" placeholder="Enter your Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <!-- confirm password -->
            <div class="field">
              <label class="label">Confirm Password</label>
              <div class="control has-icons-left">
                <input class="input" type="password" placeholder="Re-enter your Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <!-- create button -->
            <div class="field">
              <p class="control">
                <button class="button is-success">
                  Register
                </button>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</div>

<footer>
  <% include footer %>
</footer>

</html>
