<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="css/bulma-carousel.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script type="text/javascript" src="js/bulma-carousel.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <title>GrantMan</title>
  </head>

  <body class="container">
    <% include nav %>
    <hr>
    <nav class="panel">
      <p class="panel-heading">
        Projects
      </p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="search">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
      <p class="panel-tabs">
        <a id="inbox" onclick="updateCategory('inbox')">Inbox</a>
        <a id="all" onclick="updateCategory('all')">All</a>
        <a id="completed" onclick="updateCategory('completed')">Completed</a>
        <a id="deleted" onclick="updateCategory('deleted')">Deleted</a>
      </p>
      <a class="panel-block panel-element">
        <span class="panel-icon">
          <i class="fas fa-book"></i>
        </span>
        Test
      </a>
    </nav>
    <% include footer %>
    <style>
      #footer {
        position:fixed;
        left:0px;
        bottom:0px;
        height:auto;
        width:100%;
      }
    </style>
  </body>

  <script>
    var projects = <%- JSON.stringify(projects); %>;
  </script>
  <script src="js/panel.js"></script>
</html>
