<nav style="padding-top:10px; width:95%; margin:auto;" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img href="/" src="img/logo.png" width="150" height="100">
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/account">Account</a>
      <% if(user.type=='Researcher'){%>
        <a class="navbad-item" href="/createproject">Create Project</a>
      <% }else if(user.type=='RIS'){%>
        <a class="navbar-item" href="/createaccount">Create Account</a>
      <% } %>
    </div>
    <div class="navbar-end">
      <a href="/logout" class="navbar-item button is-primary" style="height:100%;">Logout</a>
    </div>
  </div>
</nav>
