<html>

<h1>New Account Creation</h1>

<p>An account has been created for you to use on the GrantMan system. Please click the link below to activate it.</p>

<a href="https://grant.mhi.io/activateaccount?token=<%- user.token %>">https://grant.mhi.io/activateaccount?token=<%- user.token %></a>

<br/>
<p>From</p>
<p>The GrantMan Team</p>

</html>
